---
import JoinClub from '@components/Join/JoinClub.svelte'

const { tiers, propertyAddress, name, rpcUrl } = Astro.props
---

<div class="p-4">
  <JoinClub client:load tiers={tiers} tenantName={name} />
</div>
