---
import JoinClub from '@components/Join/JoinClub.vue'

const { tiers, propertyAddress, name, rpcUrl } = Astro.props
---

<div class="p-4">
  <JoinClub
    client:only="vue"
    propertyAddress={propertyAddress}
    tiers={tiers}
    tenantName={name}
    rpcUrl={rpcUrl}
  />
</div>
