---
import JoinClub from '@components/Join/JoinClub.svelte'

const { memberships, propertyAddress, name, rpcUrl } = Astro.props
---

<div class="p-4">
  <JoinClub
    client:load
    propertyAddress={propertyAddress}
    memberships={memberships}
    tenantName={name}
    rpcUrl={rpcUrl}
  />
</div>
