---
import JoinClub from '@components/Join/JoinClub.astro'
import type { Tiers } from '@constants/tier'
import type { ClubsPropsPages } from '@devprotocol/clubs-core'

const { tiers, name, ...other } = Astro.props as ClubsPropsPages & {
  tiers: Tiers
  name: string
}
---

<div class="p-4">
  <JoinClub tiers={tiers} tenantName={name} {...other} />
</div>
