---
import AdminThemeForm from '@components/AdminThemeForm/AdminThemeForm.svelte'

const { options, clubs } = Astro.props
const homeConfig = options.find(
  (option: { key: string; value: string }) => option.key === 'homeConfig'
)

import whiteRightArrowImgSrc from '@assets/white-arrow-right.svg'
---

<div>
  <AdminThemeForm
    client:only="svelte"
    homeConfig={homeConfig.value}
    currentPluginIndex={clubs.currentPluginIndex}
    whiteRightArrowImgSrc={whiteRightArrowImgSrc}
  />
</div>
