---
import Admin from '@devprotocol/clubs-core/admin'
import { adminFactory } from '@devprotocol/clubs-core'
import { config as _config } from '@fixtures/config'
import defaultTheme from '@plugins/default-theme'
import admin from '@plugins/admin'
import community from '@plugins/community'
import memberships from '@plugins/memberships'
import quests from '@plugins/quests'
import home from '@plugins/home'
import message from '@plugins/message'

const { site, page } = Astro.params

const { getStaticPaths } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    defaultTheme,
    admin,
    quests,
    community,
    memberships,
    home,
    message,
  },
})

const path = (await getStaticPaths()).find(({ params }) => params.page === page)

if (!path) {
  throw new Error('Path undefined: ', path)
}

const Content = path.props.component

const baseUrl = ((host) =>
  host.includes('localhost')
    ? host.replace(/^.*\.(localhost.*)$/, 'http://$1')
    : `https://${host.split('.').slice(1, Infinity).join('.')}`)(
  new URL(Astro.request.url).host
)
---

<section class="flex justify-center bg-dp-blue-grey-600 p-2">
  <p class="text-xs">
    Clubs is now public-beta version. There may be bugs, or features under
    update. If you notice anything, <a
      class="text-xs underline"
      href="https://airtable.com/shrClLKosbLG7LFCm"
      target="_blank"
      rel="noopener">please give us feedback here</a
    >.
  </p>
</section>
<Admin {...path.props}>
  <a
    slot="sidebar:before-title"
    class="flex items-center gap-2 transition-colors hover:text-native-blue-300"
    href={`${baseUrl}/me`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-4 w-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
    </svg>

    Projects
  </a>
  <Content {...path.props} />
</Admin>

<script>
  import { onSubmitConfig } from '@devprotocol/clubs-core'
  import { GetModalProvider, ReConnectWallet } from '@fixtures/wallet'
  import { utils } from 'ethers'

  onSubmitConfig(async (data, onFinish) => {
    const splitHostname = window.location.hostname.split('.')
    const site = splitHostname[0]

    const modalProvider = GetModalProvider()
    const { provider, currentAddress } = await ReConnectWallet(modalProvider)
    if (!currentAddress || !provider) {
      return
    }
    const signer = provider.getSigner()

    const hash = await utils.hashMessage(data)
    const sig = await signer.signMessage(hash)
    if (!sig) {
      return
    }

    const body = {
      site,
      config: data,
      hash,
      sig,
      expectedAddress: currentAddress,
    }

    const res = await fetch('/api/updateConfig', {
      method: 'POST',
      body: JSON.stringify(body),
    })

    const success = res.ok
    onFinish({ success })
  })
</script>
