---
import Admin from '@devprotocol/clubs-core/admin'
import { adminFactory } from '@devprotocol/clubs-core'
import { config as _config } from '@fixtures/config'
import admin from '@plugins/admin'
import community from '@plugins/community'
import membership from '@plugins/membership'

const { site, page } = Astro.params

const { getStaticPaths } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    admin,
    community,
    membership,
  },
})

const path = (await getStaticPaths()).find(({ params }) => params.page === page)

if (!path) {
  throw new Error('Path undefined: ', path)
}

const Content = path.props.component
---

<Admin {...path.props}>
  <Content {...path.props} />
  <button id="test" name="test" type="button">TEST</button>
</Admin>

<script>
  import { onSubmitConfig, setConfig } from '@devprotocol/clubs-core'
  import { GetModalProvider, ReConnectWallet } from '@fixtures/wallet'
  import { utils } from 'ethers'

  const btn = document.getElementById('test')

  btn!.addEventListener('click', async () => {
    console.log('hello world!')
    // onSubmitConfig('hello world')

    const modalProvider = GetModalProvider()
    const { provider, currentAddress } = await ReConnectWallet(modalProvider)
    if (!currentAddress || !provider) {
      return;
    }
    const signer = provider.getSigner()

    const hash = await utils.keccak256('hello world')
    const sig = await signer.signMessage(utils.arrayify(hash))
    if (!sig) {
      return
    }

    const body = {
      site,
      config: 'hello world',
      hash,
      sig,
      expectedAddress: currentAddress
    }

    await fetch('/sites_/[site]/admin/updateConfig', {
      method: 'POST',
      body: JSON.stringify(body),
    })


  })



  const splitHostname = window.location.hostname.split('.')
  const site = splitHostname[0]

  onSubmitConfig(async (data, onFinish) => {
    console.log('onSubmitConfig', data, onFinish)

    const modalProvider = GetModalProvider()
    const { provider, currentAddress } = await ReConnectWallet(modalProvider)
    if (!currentAddress || !provider) {
      return;
    }
    const signer = provider.getSigner()

    const hash = await utils.keccak256(data)
    const sig = await signer.signMessage(utils.arrayify(hash))
    if (!sig) {
      return
    }

    const body = {
      site,
      config: data,
      hash,
      sig,
      expectedAddress: currentAddress
    }

    const res = await fetch('/sites_/[site]/admin/updateConfig', {
      method: 'POST',
      body: JSON.stringify(body),
    })

    const success = res.ok
    onFinish({ success })
  })
</script>
