---
/**
 * This page is for when the user clicks from the Firebase email authentication link
 * For Sign In
 */

import Layout from '@layouts/Landing.astro'
---

<Layout>
  <section class="grid justify-center p-4 md:p-0">
    <section class="my-16 grid gap-8 text-center md:my-32">
      <h1 class="text-2xl font-bold md:text-5xl">Connect Your Account</h1>
      <p>Link your account to your club.</p>
    </section>
    <span
      class="hs-button is-filled animate-pulse rounded border-0 bg-gray-500/60 px-8 py-4 text-inherit"
      >Authenticating...</span
    >
  </section>
</Layout>

<script>
  import { isSignInWithEmailLink, signInWithEmailLink } from 'firebase/auth'
  import { instanceStore } from '../../fixtures/firebase/clientInstance'

  const auth = instanceStore.initializedApp

  if (isSignInWithEmailLink(auth, window.location.href)) {
    let email = window.localStorage.getItem('emailForSignIn')
    if (!email) {
      // User opened the link on a different device. To prevent session fixation
      // attacks, ask the user to provide the associated email again. For example:
      email = window.prompt('Please provide your email for confirmation')
    }

    signInWithEmailLink(auth, email ?? '', window.location.href)
      .then(async (result) => {
        // Clear email from storage.
        window.localStorage.removeItem('emailForSignIn')

        const uid = result.user.uid

        window.location.href = new URL(
          `/user/${uid}`,
          `${location.protocol}//${location.host}`
        ).toString()
      })
      .catch((err) => {
        console.error('error using signInWithEmailLink: ', err)
      })
  }
</script>
