---
import Layout from '@layouts/Default.astro'

import QuestDetail from '@components/QuestDetail/QuestDetail.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'

export function getStaticPaths() {
  return [
    { params: { id: 'quest_starter' } },
    { params: { id: 'quest_stake_100' } },
    { params: { id: 'quest_stake_500' } },
  ]
}
const { id } = Astro.params
---

<Layout metaTitle="D Club | Quest">
  <div
    class="lg:container relative mx-auto lg:pt-12 grid lg:gap-12 lg:grid-cols-[minmax(290px,_1fr)_4fr]"
  >
    <Sidebar client:load />
    <QuestDetail
      {id}
      title="Become the first 30 supporters"
      description="start description description"
      badgeImageSrc="/assets/badge1.png"
    />
  </div>
</Layout>
