---
import AdminMembershipsForm from '@components/AdminMembershipsForm/AdminMembershipsForm.svelte'
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import admin from '@plugins/admin'
import SetupLayout from '@layouts/Setup.astro'
import HSButton from '@components/Primitives/Hashi/HSButton.vue'

const { site } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    admin,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(({ props }) => props.clubs)

if (!path) {
  throw new Error('Path undefined: ', path)
}
---

<SetupLayout {config} {...path.props} setupStep="PREVIEW">
  <h2 class="mb-16 mb-16 font-title text-2xl font-bold">Preview</h2>
  <iframe
    width="200%"
    height="1600"
    style="transform: scale(0.5); transform-origin: 0 0"
    src={`https://clubs.place/sites_/${site}`}
    class="mb-16 rounded"
  >
  </iframe>
  <div class="mb-16 w-full rounded bg-[#040B10] py-4 px-8 text-center mt-[-800px]">
    <a
      class="text-lg font-bold"
      href={`https://clubs.place/sites_/${site}`}
      target="_blank"
    >
      Open external
    </a>
  </div>
  <div class="mb-16 w-full rounded bg-[#040B10] py-4 px-8 text-center">
    <a
      class="text-lg font-bold"
      href={`https://clubs.place/sites_/${site}`}
      target="_blank"
    >
      Open external
    </a>
  </div>
</SetupLayout>
