---
import AdminMembershipsForm from '@components/AdminMembershipsForm/AdminMembershipsForm.svelte'
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import admin from '@plugins/admin'
import SetupLayout from '@layouts/Setup.astro'

const { site } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    admin,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(({ props }) => props.clubs)

if (!path) {
  throw new Error('Path undefined: ', path)
}
---

<SetupLayout {config} {...path.props} setupStep="PREVIEW">
  <h2 class="mb-16 font-title text-2xl font-bold">Preview</h2>

  <iframe width="200%" height="1600"
    style="transform: scale(0.5); transform-origin: 0 0"
    src={`https://clubs.place/sites_/${site}`}
  />
</SetupLayout>
