---
import AdminMembershipsForm from '@components/AdminMembershipsForm/AdminMembershipsForm.svelte'
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import admin from '@plugins/admin'
import SetupLayout from '@layouts/Setup.astro'

const { site } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    admin,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(({ props }) => props.clubs)

if (!path) {
  throw new Error('Path undefined: ', path)
}
---

<SetupLayout {config} {...path.props} setupStep="PUBLISH">
  <section class="grid gap-16">
    <h2 class="font-title text-2xl font-bold">Preview</h2>
    <section class="grid gap-16">
      <section class="grid gap-3">
        <h2 class="font-title text-2xl font-bold">Preview</h2>
        <h2 class="font-title text-2xl font-bold">Preview</h2>
        <h2 class="font-title text-2xl font-bold">Preview</h2>
      </section>
    </section>
    <section class="grid gap-16">
      <section class="grid gap-3">
        <h2 class="font-title text-2xl font-bold">Preview</h2>
        <h2 class="font-title text-2xl font-bold">Preview</h2>
        <h2 class="font-title text-2xl font-bold">Preview</h2>
      </section>
    </section>
    <section class="grid gap-16">
      <section class="grid gap-3">
        <h2 class="font-title text-2xl font-bold">Preview</h2>
        <h2 class="font-title text-2xl font-bold">Preview</h2>
        <h2 class="font-title text-2xl font-bold">Preview</h2>
      </section>
    </section>
    <section class="grid w-full gap-[30px] rounded-2xl py-[39px] px-[117px] grants-bg-cover">
      <p class="text-base font-normal text-black">
        Having trouble with gas fees? Apply!
      </p>
      <p class="font-title text-[42px] font-bold text-black">Creator Grants</p>
      <p class="font-title text-2xl font-bold text-black">
        Grants to cover the gas fees for tokenization/set up memberships.
      </p>
    </section>
  </section>
</SetupLayout>

<style>
  .grants-bg-cover {
    background-image: url('../../../assets/maxim-berg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center start;
    border: 1px solid white;
  }
</style>
