---
import AdminMembershipsForm from '@components/AdminMembershipsForm/AdminMembershipsForm.svelte'

const { options, clubs } = Astro.props
---

<div>
  <h1 class="mb-16 font-title text-lg font-bold">Membership</h1>

  <AdminMembershipsForm
    client:only="svelte"
    currentPluginIndex={clubs.currentPluginIndex}
  />
</div>
