---
import AdminMembershipsForm from '@components/AdminMembershipsForm/AdminMembershipsForm.svelte'
import { ClubsPropsAdminPages } from '@devprotocol/clubs-core'
import { Membership } from '.'

const { memberships, presets, clubs, rpcUrl } =
  Astro.props as ClubsPropsAdminPages & {
    memberships: Membership[]
    presets: Membership[]
    rpcUrl: string
  }
---

<div>
  <h1 class="mb-16 font-title text-lg font-bold">Membership</h1>

  <AdminMembershipsForm
    client:only="svelte"
    currentPluginIndex={clubs.currentPluginIndex}
    memberships={memberships}
    presets={presets}
    rpcUrl={rpcUrl}
  />
</div>
