<div class="grid justify-center gap-2">
  <p class="text-xl font-bold">
    Synchronizing updated membership to blockchain.
  </p>
  <p class="text-sm">You can also cancel this process and try again later.</p>
</div>
