---
import UserClubs from '../components/UserClubs.svelte'
import Layout from '@layouts/Landing.astro'

const { id } = Astro.params
---

<Layout connectButton="show" theme="auto">
  <div class="max-w-screen-lg mx-auto px-4 grid gap-24">
    <UserClubs client:load id={id ?? ''} />
  </div>
</Layout>
