---
import { isAddress } from 'ethers'
import Layout from '../Layout.astro'
import MediaSDKs from '@components/Passports/MediaSDKs.astro'

import UserProfileEdit from '../components/UserProfileEdit.svelte'

const { id } = Astro.params
const skinId = Astro.url.searchParams.get('skinId') || ''

const isEOA = isAddress(id)

const isLocal =
  Astro.url.hostname.includes('localhost') ||
  /^[\d\.]+$/.test(Astro.url.hostname)
---

<Layout
  connectButton="show-when-signedin"
  theme="light"
  showSkinSwitcher={false}
>
  <div class="@container/main">
    <div class="mx-auto container">
      <a href="./" class="flex gap-4 font-bold place-self-start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
        </svg>
        Profile
      </a>
    </div>

    {
      isEOA && (
        <UserProfileEdit
          client:only
          id={id ?? ''}
          skinId={skinId ?? ''}
          isLocal={isLocal}
        />
      )
    }
  </div>

  <MediaSDKs />
</Layout>
