---
import Layout from '@layouts/Default.astro'

import QuestDetail from '@components/QuestDetail/QuestDetail.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import quests from '@components/Quests/quests.json'

export function getStaticPaths() {
  return [
    { params: { id: 'quest_starter' } },
    { params: { id: 'quest_stake_100' } },
    { params: { id: 'quest_stake_500' } },
  ]
}
const { id } = Astro.params
const targetQuest = quests.filter(
  (quest) => quest && quest.id === id && quest.listed
)[0]
---

<Layout metaTitle="D Club | Quest">
  <div
    class="lg:container relative mx-auto lg:pt-12 grid lg:gap-12 lg:grid-cols-[minmax(290px,_1fr)_4fr]"
  >
    <Sidebar client:load />
    <QuestDetail
      questId={targetQuest?.id}
      title={targetQuest?.title}
      description={targetQuest?.description}
      badgeImageSrc={targetQuest?.badgeImageSrc}
    />
  </div>
</Layout>
