---
import Layout from '@layouts/Default.astro'
import CLBWrapper from '@components/Primitives/CLBWrapper.astro'

import HSButton from '@components/Primitives/Hashi/HSButton.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import { tenantBy } from '@fixtures/data/tenants'

const tenant = tenantBy(Astro.params)
// import Quests from '@components/Quests/Quests.astro'
---

<Layout metaTitle="Quests">
  <CLBWrapper>
    <Sidebar client:load />
    <section class="quests">
      <article class="mb-6">
        <h3 class="family-title text-lg mb-6">Quests</h3>
        <div
          class="quests-digest grid place-items-center gap-4 rounded-2xl px-10 py-20 mb-8"
        >
          <h1 class="family-supertitle md:text-2xl font-black uppercase">
            Find encouraged activities and opportunities to benefit from
            contributing to the success of us.
          </h1>
          <div class="quests-digest__action">
            <HSButton type="filled plox">Open the quests</HSButton>
          </div>
        </div>
        <div class="quests__image w-full h-[462px] relative">
          <img
            class="w-full h-full object-cover object-center absolute"
            src="assets/quests.png"
            alt="a photo of a set of guild.xyz quests"
          />
        </div>
      </article>
    </section>
  </CLBWrapper>
</Layout>
<style lang="scss">
  .quests-digest {
    /* eslint-disable no-eval */
    background: linear-gradient(
      -125deg,
      #261746 30%,
      #463537 52.78%,
      rgba(142, 93, 82, 0) 99.52%
    );
  }
  .quests__image {
    /* eslint-disable no-eval */
    background: linear-gradient(0deg, #000 10%, rgba(0 0 0 / 0) 100%);
  }
</style>
