---
import Layout from '@layouts/Default.astro'

import Sidebar from '@components/Sidebar/Sidebar.vue'
import Quests from '@components/Quests/Quests.astro'
import { tenantBy } from '@fixtures/data/tenants'

const tenant = tenantBy(Astro.params)
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div
    class="lg:container relative mx-auto lg:pt-12 grid lg:gap-12 lg:grid-cols-[minmax(290px,_1fr)_4fr]"
  >
    <Sidebar client:load propertyAddress={tenant?.propertyAddress} />
    <Quests />
  </div>
</Layout>
