---
import type { Membership } from '@plugins/memberships'
import Footer from '@components/Global/Footer.astro'
import Hero from '@components/Hero/hero'
import Hero2 from '@components/Hero/hero2'
import Cards from '@components/list/cards'

const { products } = Astro.props as { products: Membership[] }
---

<div>
  <Hero {...{} as any} />
  <Hero2 {...{} as any} />
  <Cards products={[...products]} />
</div>
<Footer />
