---
import type { Products } from '@constants/products'
import Footer from '@components/Global/Footer.astro'
import Hero from '@components/Hero/hero'
import Hero2 from '@components/Hero/hero2'
import Cards from '@components/list/cards'

const { products } = Astro.props as { products: Products }
---

<div>
  {/* @ts-ignore */}
  <Hero />
  {/* @ts-ignore */}
  <Hero2 />
  <Cards products={[...products]} />
</div>
<Footer />
