---
import Supporters from '@components/Members/Supporters.vue'

const { propertyAddress, rpcUrl } = Astro.props
---

<div class="mx-4 mb-4">
  <h2 class="font-title text-3xl font-bold">Members</h2>
  <Supporters
    client:only="vue"
    propertyAddress={propertyAddress}
    rpcUrl={rpcUrl}
  />
</div>
