---
import CLBWrapper from '@components/Primitives/CLBWrapper.astro'

import Supporters from '@components/Members/Supporters.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import { tenantBy } from '@fixtures/data/tenants'

const tenant = tenantBy(Astro.params)
---

<CLBWrapper>
  <Sidebar
    client:load
    propertyAddress={tenant?.propertyAddress}
    tenantName={tenant?.name}
  />
  <div class="mx-4 mb-4">
    <h2 class="font-title font-bold text-3xl">Members</h2>
    <Supporters client:only="vue" propertyAddress={tenant?.propertyAddress} />
  </div>
</CLBWrapper>

