._p ._p-body {
  background-image: url('https://ik.imagekit.io/wtlw3wfvu/passport-bg.png?updatedAt=1725990448032');
}
._p ._p-hero-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

._p ._p-hero {
  background-image: url('https://ik.imagekit.io/wtlw3wfvu/sd_amu%202.png?updatedAt=1725988110197');
  width: 100%;
  max-width: 990px;
  background-size: cover;
  background-repeat: no-repeat;
}

._p ._p-avatar-content,
._p ._p-username-content,
._p ._p-music-content {
  background: white;
}

._p ._p-username,
._p ._p-music-content {
  color: black;
}

._p ._p-heading,
._p ._p-description-content {
  color: white;
}

._p ._p-main {
  margin-top: 420px;
}

._p ._p-description-content {
  background-color: #b76dd3;
}
