---
import Layout from '@layouts/Landing.astro'
import { ConnectButton } from '@devprotocol/clubs-plugin-awesome-onboarding'
import App from './App.vue'
---

<Layout connectButton="hidden" theme="light">
  <div class="max-w-screen-md mx-auto px-4 grid gap-24 py-24">
    <App client:load>
      <ConnectButton />
    </App>
  </div>
</Layout>
