---
import UserProfileEdit from '../components/UserProfileEdit.svelte'
import Layout from '../Layout.astro'
import { isAddress } from 'ethers'

const { id } = Astro.params
const isEOA = isAddress(id)
---

<Layout theme="auto">
  <div class="max-w-screen-lg mx-auto px-4 grid gap-24">
    <a href="./" class="flex gap-4 font-bold place-self-start"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
      </svg>
      Profile
    </a>
    {isEOA && <UserProfileEdit client:load id={id ?? ''} />}
  </div>
</Layout>
