---
import WelcomeWizard from '@components/WelcomeWizard/WelcomeWizard.svelte'
---

<div class="flex bg-black">
  <WelcomeWizard client:only="svelte" step="MEMBERSHIPS" />

  <div class="w-full">Drop area here</div>
</div>
