---
import Layout from '@layouts/Default.astro'
import CLBWrapper from '@components/Primitives/CLBWrapper.astro'

import Footer from '@components/Global/Footer.astro'
import HSButton from '@components/Primitives/Hashi/HSButton.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import Step from '@components/Community/Step.vue'
---

<Layout metaTitle="Community">
  <div class="relative">
    <CLBWrapper>
      <Sidebar client:load />
      <article class="px-8 lg:px-4">
        <section class="mb-6">
          <!-- DIGEST -->
          <h3 class="family-title text-lg mb-6">Community</h3>
          <div
            class="community-digest grid place-items-center rounded-2xl px-10 py-20"
          >
            <h1 class="family-supertitle text-2xl font-black">
              We convene on Discord for collaboration, to share our vision,
              discuss future plans, and share our joy and excitement.
            </h1>
          </div>
        </section>
        <section>
          <h1 class="font-title text-2xl font-bold mb-6">Do you have a key?</h1>
          <p class="font-title text-lg mb-2">
            Membership is earned by staking over <span class="text-plox-400"
              >400 $DEV
            </span> on TemplesDAO, which is the key to joining the community.
          </p>
          <p class="font-title text-lg mb-4">
            If you don’t have a key, get the key now with $DEV or $ETH
          </p>
          <HSButton type="filled plox">Join</HSButton>
        </section>
        <section class="h-[229px] overflow-hidden my-6">
          <img
            class="w-full h-full object-cover object-center"
            src="assets/key.png"
            alt="A picture of a chrome plated key"
          />
        </section>
        <section class="flex flex-col gap-4">
          <h1 class="font-title text-2xl font-bold mb-6">
            Open the door to the community
          </h1>
          <Step
            step="1"
            label="Connect your wallet to guild.xyz"
            media="assets/Step-1.png"
          >
            <HSButton type="filled plox contained" link="#">guild.xyz</HSButton>
          </Step>
          <Step step="2" label="Join our guild" media="assets/Step-2.png">
            <HSButton type="filled plox contained" link="#">guild.xyz</HSButton>
          </Step>
          <Step step="3" label="Open the invite link" media="assets/Step-3.png">
            <HSButton type="filled plox contained" link="#">guild.xyz</HSButton>
          </Step>
        </section>
      </article>
    </CLBWrapper>
  </div>
  <Footer />
</Layout>
<style lang="scss">
  .community-digest {
    /* eslint-disable no-eval */
    background: linear-gradient(-125deg, #261746 30%, #463537 52.78%, rgba(142, 93, 82, 0) 99.52%);
  }
</style>
