---
import UserProfileEditButton from './components/UserProfileEditButton.svelte'
import UserAssets from './components/UserAssets.vue'
import Layout from '@layouts/Landing.astro'
import { isAddress } from 'ethers'
import type { Profile } from '@pages/api/profile'
import { GET } from '@pages/api/profile/[id]'

const { id } = Astro.params
const isEOA = isAddress(id)

const res = await GET({ params: { id } })
const profile = (await res.json()) as Profile
---

<Layout connectButton="show" theme="auto">
  <div class="max-w-screen-lg mx-auto px-4 grid gap-24 pb-24">
    <div
      class="grid grid-cols-[auto,1fr,auto] justify-between items-center gap-4"
    >
      <span
        class="block bg-surface-300 w-32 h-32 lg:w-56 lg:h-56 rounded-full overflow-hidden border border-surface-400 p-3"
      >
        <img
          src={profile.avatar}
          class="rounded-full w-full h-full object-cover"
          alt=""
        />
      </span>

      <span class="font-bold text-2xl lg:text-4xl">
        {profile.username}
      </span>

      <UserProfileEditButton client:only="svelte" id={id} />
    </div>

    {isEOA && <UserAssets client:load account={id ?? ''} />}

    <a href={`/passport/${id}/clubs`} class="hs-link place-self-start">Clubs</a>
  </div>
</Layout>
