._p ._p-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://ik.imagekit.io/wtlw3wfvu/passport-bg.png?updatedAt=1725990448032');
}
._p ._p-hero-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

._p ._p-hero {
  position: relative;
  width: 100%;
  max-width: 990px;
  mask-image: linear-gradient(to bottom,transparent,white 15%,white,white 25%,transparent);
}

._p ._p-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('https://ik.imagekit.io/wtlw3wfvu/sd_amu%202.png?updatedAt=1725988110197');
  background-size: contain;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to right,transparent,white 20%,white,white 60%,transparent);
}

._p ._p-avatar-content,
._p ._p-username-content,
._p ._p-music-content {
  background: white;
}

._p ._p-username,
._p ._p-music-content {
  color: black;
}

._p ._p-heading {
  color: white;
}

._p ._p-main {
  margin-top: 420px;
}

._p ._p-description-content {
}

._p ._p-description p {
}

.passport-skins {
  position: absolute;
  top: 300px;
  align-items: baseline;
  transition: gap 0.2s ease-out;
}

.passport-skins:hover {
  gap: 1.5rem;
}

.passport-skins-content {
  transition: width 0.7s ease-out;
}

.passport-skins-content:hover {
  width: 200px;
}

.passport-skins-content:hover + .passport-skins-content {
  width: 175px;
}

.passport-skins-content:has(+ .passport-skins-content:hover) {
  width: 175px;
}
