---
import type { ClubsConfiguration } from '@devprotocol/clubs-core'
import AdminOverview from '../admin/AdminOverview.svelte'

const config = Astro.props as ClubsConfiguration
console.log('Config', config)
---

<section class="flex flex-col">
  <h1 class="mb-16 font-title text-lg font-bold">Overview</h1>
  <AdminOverview client:only="svelte" config={config} />
</section>
