---
import type { NavLink } from '@constants/navLink'

const { links, type = 'large-buttons' } = Astro.props as {
  links: NavLink[]
  current?: NavLink
  type?: 'large-buttons' | 'tab'
}
---

<nav>
  <ul
    class:list={[
      { 'flex justify-start gap-3': type === 'large-buttons' },
      { 'flex justify-start gap-3': type === 'tab' },
    ]}
  >
    {
      links.map(
        (link) =>
          link.enable !== false && (
            <li class:list={[{ 'last:pr-24': type === 'tab' }]}>
              <a
                href={link.path}
                class:list={[
                  'hs-button is-small font-bold transition',
                  {
                    'is-outlined px-5 py-2 text-xl':
                      type === 'tab',
                  },
                  {
                    'is-filled is-large w-full border-0 bg-white p-5 text-xl text-black lg:text-2xl':
                      type === 'large-buttons',
                  },
                ]}
              >
                {link.display}
              </a>
            </li>
          ),
      )
    }
  </ul>
</nav>
