---
import type { NavLink } from '@constants/navLink'

const { links, type = 'large-buttons' } = Astro.props as {
  links: NavLink[]
  current?: NavLink
  type?: 'large-buttons' | 'tab'
}
---

<nav>
  <ul
    class:list={[
      'mx-auto py-8',
      { 'grid gap-6': type === 'large-buttons' },
      { 'flex justify-start gap-3': type === 'tab' },
    ]}
  >
    {
      links.map(
        (link) =>
          link.enable !== false && (
            <li class:list={[{ 'last:pr-24': type === 'tab' }]}>
              <a
                href={link.path}
                class:list={[
                  'hs-button rounded-full font-bold transition hover:bg-white/80',
                  {
                    'is-outlined border-[var(--bodyColor)] px-5 py-2 text-xl text-[var(--bodyColor)] hover:text-[var(--backgroundColor)]':
                      type === 'tab',
                  },
                  {
                    'is-filled w-full border-0 bg-white p-5 text-xl text-black lg:text-2xl':
                      type === 'large-buttons',
                  },
                ]}
              >
                {link.display}
              </a>
            </li>
          ),
      )
    }
  </ul>
</nav>
