---
import type { NavLink } from '@constants/navLink'

const { links, current } = Astro.props as {
  links: NavLink[]
  current?: NavLink
}
---

<nav>
  <ul class="grid gap-6">
    {
      links.map(
        (link) =>
          link.enable !== false && (
            <li>
              <a
                href={link.path}
                class={`hs-button is-filled rounded-full border-0 bg-white p-5 text-xl font-bold text-black transition hover:opacity-100 lg:text-2xl ${
                  current?.path === link.path ? '' : 'opacity-30'
                }`}
              >
                {link.display}
              </a>
            </li>
          )
      )
    }
  </ul>
</nav>
