---
import AdminHomeForm from './components/AdminHomeForm.svelte'

const { options, currentPluginIndex } = Astro.props
const homeConfig = options.find(
  (option: { key: string; value: string }) => option.key === 'homeConfig'
)
console.log('home config is: ', homeConfig)
---

<div>
  <h1 class="font-title text-lg font-bold mb-16">Home</h1>

  <AdminHomeForm
    client:only="svelte" homeConfig={homeConfig.value}
  />
</div>
