---
import Layout from '@layouts/BaseClubs.astro'

const { redirectionCtaText, redirectionCtaUrl } = Astro.props

const homePageUrl: string = ((url) => `${url.protocol}//${url.host}/`)(
  new URL(Astro.request.url)
)
---

<Layout>
  <div class="relative grid justify-center p-4 md:p-0">
    <section class="my-16 grid gap-8 text-center md:my-32">
      <h1 class="text-2xl font-bold md:text-5xl">Page not found</h1>
      <p>
        We could not find this page. This link is broken or the page has been
        moved
      </p>
    </section>
    <a
      href={redirectionCtaUrl || homePageUrl}
      class="hs-button is-filled border-0 bg-native-blue-300 px-8 py-4 text-inherit no-underline"
    >
      {redirectionCtaText || 'Take me to Home page'}
    </a>
  </div>
</Layout>
