---
import Layout from '@layouts/Landing.astro'
---

<Layout>
  <section class="mb-16 mt-8 text-center">
    <h1 class="mb-2 text-center font-title text-7xl font-bold">
      Connecting Your Account
    </h1>
    <span>Authenticating...</span>
  </section>
</Layout>
