---
import Layout from '@layouts/Landing.astro'
import WelcomeConnect from '@components/WelcomeConnect/WelcomeConnect.svelte'
---

<Layout>
  <section class="mb-16 mt-8">
    <h1 class="mb-2 text-center font-title text-7xl font-bold">
      Connect Your Account
    </h1>
  </section>

  <WelcomeConnect client:only="svelte" />
</Layout>
