---
import Layout from '../layouts/Default.astro'

import Sidebar from '@components/Sidebar/Sidebar.vue'
import Footer from '@components/Global/Footer.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div class="relative">
    <div class="absolute w-full h-c-hero">
      <img src="/assets/temple-fusaiji.jpg" class="object-cover w-full h-full"
      />
      <div class="absolute inset-0 bg-black opacity-20"></div>
    </div>
    <div
      class="lg:container relative mx-auto pt-12 grid gap-12 lg:grid-cols-[minmax(290px,_1fr)_4fr]"
    >
      <Sidebar client:load />
      <article class="grid gap-20">
        <header
          class="min-h-[38rem] py-12 flex justify-items-center items-center"
        >
          <h1 class="max-w-2xl mx-auto text-4xl font-extrabold text-justify">
            Join DAO that makes the next 1000 years
          </h1>
        </header>
        <section class="mt-12 px-4">
          <img src="/assets/preview/Content.png" />
        </section>
      </article>
    </div>
  </div>
  <Footer />
</Layout>
