---
import Layout from '../layouts/Default.astro'

import Hero from '@components/Home/Hero.astro'
import JoinClub from '@components/Home/JoinClub.astro'
import Apps from '@components/Home/Apps/Apps.astro'
import Sidebar from '@components/Sidebar/Sidebar.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div class="flex justify-center">
    <Sidebar />
    <div width="600">
      <Hero />
      <JoinClub />
    </div>
  </div>
</Layout>
