---
import Landing from '@layouts/Landing.astro'
---

<Landing>
  <div class="flex justify-center py-8">
    <div class="flex flex-col max-w-4xl">
      <span class="text-6xl lg:text-8xl font-serif text-blue-500 pb-12"
        >Welcome to the world’s most popular DAO builder.</span
      >

      <span class="pb-12"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
        viverra ipsum, non ullamcorper tellus tristique in. Integer turpis
        tortor, finibus non blandit iaculis, laoreet non mauris. Sed consequat
        convallis nisi, non commodo mauris aliquet sit amet. Vestibulum mattis
        eleifend vehicula. Curabitur condimentum convallis aliquet.</span
      >

      <div class="text-center">
        <a
          class="bg-blue-500 rounded py-4 px-8 text-lg font-bold"
          href="/getstarted">Start your DAO</a
        >
      </div>
    </div>
  </div>
</Landing>
