---
import Layout from '@layouts/LandingWithFooter.astro'
import FeedPageContent from '@components/Feed/FeedPageContent.vue'
---

<Layout connectButton="hidden" theme="auto" pageTitle="Feed">
  <div class="@container/main h-full">
    <FeedPageContent />
  </div>
</Layout>
