---
import Landing from '@layouts/Landing.astro'
---

<Landing>
  <div class="flex justify-center py-8">
    <div class="flex max-w-4xl flex-col">
      <span class="pb-12 font-serif text-6xl text-blue-500 lg:text-8xl"
        >Welcome to the world’s most popular DAO builder.</span
      >

      <span class="pb-12"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum
        viverra ipsum, non ullamcorper tellus tristique in. Integer turpis
        tortor, finibus non blandit iaculis, laoreet non mauris. Sed consequat
        convallis nisi, non commodo mauris aliquet sit amet. Vestibulum mattis
        eleifend vehicula. Curabitur condimentum convallis aliquet.</span
      >

      <div class="text-center">
        <a
          class="rounded bg-blue-500 py-4 px-8 text-lg font-bold"
          href="/getstarted">Start your DAO</a
        >
      </div>
    </div>
  </div>
</Landing>
