---
import Layout from '../layouts/Default.astro'

import Apps from '@components/Home/Apps/Apps.astro'
import JoinClub from '@components/Join/JoinClub.astro'
import Sidebar from '@components/Sidebar/Sidebar.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div class="flex justify-center">
    <Sidebar />
    <div>
      <JoinClub />
    </div>
  </div>
</Layout>
