---
import Layout from '@layouts/Default.astro'

import Sidebar from '@components/Sidebar/Sidebar.vue'
import Badges from '@components/Badges/Badges.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div
    class="lg:container relative mx-auto lg:pt-12 grid lg:gap-12 lg:grid-cols-[minmax(290px,_1fr)_4fr]"
  >
    <Sidebar client:load />
    <Badges />
  </div>
</Layout>
