---
import Layout from '../layouts/Default.astro'

import Quests from '@components/Quests/Quests.astro'
import Apps from '@components/Home/Apps/Apps.astro'
import Sidebar from '@components/Sidebar/Sidebar.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div class="flex justify-center">
    <Sidebar />
    <Quests />
  </div>
</Layout>
