---
import Layout from '../layouts/Default.astro'

import Apps from '@components/Home/Apps/Apps.astro'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import Quests from '@components/Quests/Quests.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div class="flex justify-center">
    <Sidebar client:load />
    <Quests />
  </div>
</Layout>
