---
import ImageSlot from './slot.png'
---

<p>
  With Pay By Card installed, all USDC priced memberships can be sold in USD via
  Crossmint.
</p>

<p>
  There is no admin page for this plugin, the pages are built automatically.
</p>

<p>
  <img
    {...ImageSlot}
    alt="Pay with a credit card button"
    class="max-w-md rounded"
  />
</p>

<p>
  Pay By Card, if it is available, inserts a Pay with a credit card button on
  the checkout page and automatically offers the user an option other than
  crypto payment.
</p>
