---
import Layout from '@layouts/Default.astro'
import CLBWrapper from '@components/Primitives/CLBWrapper.astro'

import JoinClub from '@components/Join/JoinClub.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'
import Footer from '@components/Global/Footer.astro'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <CLBWrapper>
    <Sidebar client:load />
    <div class="p-4">
      <JoinClub client:only />
    </div>
  </CLBWrapper>
  <Footer />
</Layout>
