---
import Layout from '@layouts/Default.astro'

import JoinClub from '@components/Join/JoinClub.vue'
import Sidebar from '@components/Sidebar/Sidebar.vue'
---

<Layout metaTitle="Dev Protocol | An open protocol for Creator Economy">
  <div
    class="lg:container relative mx-auto lg:pt-12 grid lg:gap-12 lg:grid-cols-[minmax(290px,_1fr)_4fr]"
  >
    <Sidebar client:load />
    <div>
      <JoinClub client:load />
    </div>
  </div>
</Layout>
