---
import UserClubs from '@components/UserClubs/UserClubs.svelte'
import Layout from '@layouts/Landing.astro'

const { id } = Astro.params
---

<Layout>
  <div class="mb-32 mt-44 text-center">
    <h2 class="font-body text-5xl font-bold text-white">User Clubs</h2>
  </div>

  <UserClubs client:load id={id ?? ''} />
</Layout>
