<header
  class="
    flex flex-col
    items-center
    justify-center
    mt-12
    px-4
    py-10
    lg:py-20
    lg:px-0
    relative
    overflow-hidden
  "
>
  <div class="grid grid-cols-2">
    <div class="text-8xl">D</div>
    <div class="grid justify-center justify-items-center">
      <img src="/assets/logo.png" />
    </div>
  </div>
  <div class="text-3xl">
    D Club is a builders group of who foster the Dev Protocol community.
  </div>
  <div class="text-2xl">Stake $DEV on us, and you get:</div>
</header>
