---
import {
  ProseTextInheritClassNames,
  markdownToHtml,
} from '@devprotocol/clubs-core'

interface Props {
  body?: string
  class?: string
  size?: 'sm' | 'base' | 'lg' | 'xl' | '2xl'
}

const { body, class: className, size } = Astro.props

const content = body ? markdownToHtml(body) : undefined

const classList = [
  className,
  'markdown',
  ...ProseTextInheritClassNames,
  'prose-a:inline-block prose-a:rounded prose-a:p-1 prose-a:underline prose-a:transition hover:prose-a:bg-white/20',
  { 'prose-sm': size === 'sm' },
  { 'prose-base': size === 'base' },
  { 'prose-lg': size === 'lg' },
  { 'prose-xl': size === 'xl' },
  { 'prose-2xl': size === '2xl' },
]
---

{
  content ? (
    <div class:list={classList} set:html={content}>
      <slot />
    </div>
  ) : (
    <div class:list={classList}>
      <slot />
    </div>
  )
}

<style lang="scss" scoped>
  :global(.markdown iframe) {
    @apply max-w-full;
  }
</style>
