---
import ClubsColor from '@assets/clubs--color.svg'
import ConnectButton from '@components/Wallet/ConnectButton.vue'
import type {
  ClubsPluginSignal,
  ClubsPropsPages,
} from '@devprotocol/clubs-core'

const {
  chainId,
  isInDraft,
  connection = true,
} = Astro.props as ClubsPropsPages & {
  chainId: number
  isInDraft?: boolean
  connection?: boolean
}
---

<header class="absolute z-10 flex w-full items-center">
  <a
    href="https://www.clubs.place/"
    class="group absolute left-0 top-0 m-4 flex items-center justify-center gap-2"
    ><span
      class="flex h-12 w-12 items-center justify-center rounded-full bg-surface-200"
      ><img src={ClubsColor} class="h-6 w-6" /></span
    ><span
      class="pointer-events-none text-xl font-bold opacity-0 transition group-hover:opacity-100"
      >Clubs</span
    ></a
  >
  <div
    class="container mx-auto flex max-w-7xl items-center justify-between px-6 xl:px-0"
  >
    <i class="h-20" role="presentation"></i>
    {connection && <ConnectButton chainId={chainId} />}
  </div>
</header>
