---
import { ClubsLogo as Clubs } from '@devprotocol/clubs-core/layouts'
import type { ClubsPropsPages } from '@devprotocol/clubs-core'

const { connection = true } = Astro.props as ClubsPropsPages & {
  connection?: boolean
}
---

<header class="absolute z-10 flex w-full items-center">
  <a
    href="https://www.clubs.place/"
    class="absolute left-0 top-0 m-4 flex items-center justify-center gap-2"
    ><span
      class="flex h-10 w-10 p-1 items-center justify-center rounded-full bg-[var(--backgroundColor)]"
      ><Clubs class="h-full" /></span
    ></a
  >
  <div
    class="container mx-auto flex max-w-7xl items-center justify-between px-6 xl:px-0"
  >
    <i class="h-20" role="presentation"></i>
    {connection && <slot name="header:connect-button" />}
  </div>
</header>
