---
import ImageSlot1 from './slot-1.png'
import ImageSlot2 from './slot-2.png'
---

<h3>Price Override in Japanese Yen</h3>

<p>
  Clubs Payments allows you to set price overrides in legal tender to your
  existing membership. Clubs Payments currently supports Japanese Yen pricing,
  thereby bringing you stable revenue without having to worry about the
  volatility of the coin markets.
</p>

<h3>Backed by DGFT, the most trusted payment infrastructure</h3>

<p>
  Clubs Payments uses the pioneer of online payment solutions in Japan, DGFT, to
  run highly secure payment processes, certified by PCI DSS, ISMS-AC, JIPDEC,
  and many others. Memberships are minted immediately and automatically upon
  completion of the off-chain payment, and users can begin using the on-chain
  membership immediately after the settlement is completed.
</p>

<h3>Best Integration with Clubs</h3>

<p>
  Clubs Payments fully leverages the composability of Clubs to provide a better
  integrated UX.
</p>

<p class="grid gap-2 lg:grid-cols-2">
  <img {...ImageSlot1} alt="YEN as a currency option" class="rounded" />
  <img {...ImageSlot2} alt="Pay with a credit card button" class="rounded" />
</p>
