---
import type { ExternalTool } from '@constants/plugins'
import Wrapper from './Wrapper.astro'
import pluginDefaultIcon from '@assets/default-plugin-icon.jpg'

const {
  tool,
  truncate = true,
  size = 'medium',
} = Astro.props as {
  tool: ExternalTool
  truncate?: boolean
  size?: 'small' | 'medium'
}
---

<Wrapper href={tool.url}>
  <div
    class="grid grid-cols-[auto,1fr] items-start justify-start justify-items-start gap-x-4 gap-y-1 p-4"
  >
    <img
      src={tool.imageSrc || pluginDefaultIcon.src}
      class:list={[
        'row-span-3 aspect-square rounded-[20%]',
        { 'h-16 lg:h-20': size === 'medium' },
        { 'h-11 lg:h-12': size === 'small' },
      ]}
    />

    <div class="col-start-2 flex w-full items-center justify-between truncate">
      <p class="truncate text-2xl font-bold">{tool.name}</p>
    </div>
    <p class:list={['col-start-2', { 'max-w-full truncate': truncate }]}>
      {tool.description}
    </p>
  </div>
</Wrapper>
