---
import AdminCommunityForm from './AdminCommunityForm.svelte'

const { options, currentPluginIndex } = Astro.props
---

<div>
  <h1 class="font-title text-lg font-bold mb-16">Community</h1>

  <AdminCommunityForm
    client:only="svelte"
    guildUrl={options?.guildUrl ?? ''}
    currentPluginIndex={currentPluginIndex}
  />
</div>
