<div class="flex flex-col items-center border mx-2 mb-auto px-2 py-8">
  <div class="w-auto items-center lg:mx-20">
    <img
      src="/assets/avator.png"
      alt="avator"
      class="max-h-96 w-auto"
      width="220"
      height="220"
    />
  </div>
  <div>
    <p>D Club</p>
  </div>
  <div class="flex">
    <div class="mr-2">$DCOM on</div>
    <img src="/assets/ETH.svg" alt="ethereum" />
  </div>
  <div>XX Members</div>
  <div class="border m-2 p-2 px-4">
    <a href="/join">Join</a>
  </div>
  <div>
    <a href="/quests">Quests</a>
  </div>
</div>
