---
import AdminQuestsForm from './components/AdminQuestsForm.vue'

const { options, clubs } = Astro.props
const deworkUrl = options.find(
  (option: { key: string; value: string }) => option.key === 'deworkUrl'
)
---

<div>
  <h1 class="mb-16 font-title text-lg font-bold">Quests</h1>

  <AdminQuestsForm
    client:only="vue"
    deworkUrl={deworkUrl?.value ?? ''}
    currentPluginIndex={clubs.currentPluginIndex}
  />
</div>
