---
import HSButton from '@components/Primitives/Hashi/HSButton.vue'
---

<section class="quests">
  <article class="mb-6">
    <h3 class="family-title mb-6 text-lg">Quests</h3>
    <div
      class="quests-digest mb-8 grid place-items-center gap-4 rounded-2xl px-10 py-20"
    >
      <h1 class="family-supertitle font-black uppercase md:text-2xl">
        Find encouraged activities and opportunities to benefit from
        contributing to the success of us.
      </h1>
      <div class="quests-digest__action">
        <HSButton type="filled plox">Open the quests</HSButton>
      </div>
    </div>
    <div class="quests__image relative h-[462px] w-full">
      <img
        class="absolute h-full w-full object-cover object-center"
        src="assets/quests.png"
        alt="a photo of a set of guild.xyz quests"
      />
    </div>
  </article>
</section>

<style lang="scss">
  .quests-digest {
    /* eslint-disable no-eval */
    background: linear-gradient(
      -125deg,
      #261746 30%,
      #463537 52.78%,
      rgba(142, 93, 82, 0) 99.52%
    );
  }
  .quests__image {
    /* eslint-disable no-eval */
    background: linear-gradient(0deg, #000 10%, rgba(0 0 0 / 0) 100%);
  }
</style>
