---
import '@devprotocol/clubs-core/styles'
import { ClubsLogo as Clubs } from '@devprotocol/clubs-core/layouts'
import ETHLogo from '@assets/ETH.svg'
import DEVLogo from '@assets/devtoken.svg'
import DevProtocolLogo from '@assets/DevProtocol_b_Brandmark_rgb_01.svg'
import DiscordBlackLogo from '@assets/brands/discord--black.svg'
import MediumBlackLogo from '@assets/brands/medium--black.svg'
import TwitterBlackLogo from '@assets/brands/twitter--black.svg'
import { i18nFactory, type ClubsPropsPages } from '@devprotocol/clubs-core'
import { Strings } from './i18n'
import Amex from '@assets/payments/amex.png'
import Jcb from '@assets/payments/jcb.svg'
import Master from '@assets/payments/mastercard.svg'
import Visa from '@assets/payments/visa.svg'

import { parseAcceptLanguage } from 'intl-parse-accept-language'
interface Props extends ClubsPropsPages {
  fullPage?: boolean
}

const { fullPage = false } = Astro.props
const langs = parseAcceptLanguage(Astro.request.headers.get('Accept-Language'))

const i18n = i18nFactory(Strings)(langs)
const payments = [Visa, Master, Jcb, Amex]
---

<footer>
  <div class="container mx-auto py-12 px-4 grid gap-6">
    <nav>
      <ul class="flex flex-wrap gap-6 lg:gap-12 items-center">
        <li>
          <a href={i18n('LinkGuide')} target="_blank" class="text-sm"
            >{i18n('Guide')}</a
          >
        </li>
        <li>
          <a href={i18n('LinkPrivacy')} target="_blank" class="text-sm"
            >{i18n('Privacy')}</a
          >
        </li>
        <li>
          <a href={i18n('LinkTerms')} target="_blank" class="text-sm"
            >{i18n('Terms')}</a
          >
        </li>
        <li>
          <a href={i18n('LinkCommercial')} target="_blank" class="text-sm"
            >{i18n('Commercial')}</a
          >
        </li>
        <li>
          <a href={i18n('LinkFAQ')} target="_blank" class="text-sm"
            >{i18n('FAQ')}</a
          >
        </li>
        <slot name="nav-item" />
      </ul>
    </nav>
    <span class="flex flex-wrap gap-6 lg:gap-12 items-center">
      <p class="text-sm">Copyright © FRAME00, Inc. All Rights Reserved.</p>
      <li class="flex grow justify-end w-full lg:w-fit">
        <ul class="flex flex-wrap gap-1 items-center">
          {
            payments.map((pay) => (
              <li>
                <img
                  src={pay.src}
                  class="w-12 h-8 rounded bg-black/5 object-fit"
                />
              </li>
            ))
          }
        </ul>
      </li>
    </span>
  </div>
</footer>
