---
import MembershipOption from '@components/AdminMembershipsForm/MembershipOption.svelte'
import type { Membership } from '@plugins/memberships'

const { memberships } = Astro.props as {
  memberships: Membership[]
}
---

<ul class="-mx-6 flex flex-row gap-4 overflow-x-auto p-6 xl:gap-9">
  {
    memberships.map((mem) => (
      <li>
        <MembershipOption
          name={mem.name}
          ethPrice={String(mem.price)}
          description={mem.description}
          imagePath={mem.imageSrc}
          className="w-40	xl:w-64"
        />
      </li>
    ))
  }
</ul>
