---
import type { CheckoutOptions } from '@devprotocol/clubs-core/ui/components'
import type { ComposedItem } from '.'
import { bytes32Hex } from '@devprotocol/clubs-core'
import { whenDefined } from '@devprotocol/util-ts'
import { createPath } from './utils/create-path'

const { items, checkoutOptions } = Astro.props as {
  items: ComposedItem[]
  checkoutOptions: CheckoutOptions
}

const { payload } = checkoutOptions
const fiatItem = whenDefined(payload, (p) =>
  items.find((item) => bytes32Hex(item.payload) === bytes32Hex(p)),
)
const linkTo = whenDefined(fiatItem, (fiat) => createPath(fiat.payload))
---

{
  linkTo && !Astro.url.pathname.includes(linkTo) && (
    <div class="p-3">
      <a
        href={linkTo}
        class="hs-button is-large is-fullwidth is-filled is-native-blue"
      >
        Pay with a credit card
      </a>
      <hr class="bg-[#DFDFDF]" />
    </div>
  )
}
