<span
  >Act on specified Commercial Transactions (<a
    href="https://github.com/dev-protocol/legal/blob/main/ACT-ON-SPECIFIED-COMMERCIAL-TRANSACTIONS_JA.md"
    target="_blank"
    rel="noopener">日本語</a
  >)
</span>
