---
---

<li>
  <a
    href="https://clubs-help.notion.site/728afd0407054667ae9c1acec46cca8d"
    target="_blank"
    rel="noopener"
    class="hs-link text-xl font-bold text-inherit no-underline"
    >Act on specified Commercial Transactions</a
  >
</li>
