---
import CreateCollections from '@components/Collections/CreateCollections.svelte'
import type { Membership } from '@plugins/memberships'

const {
  isTimeLimitedCollection = false,
  memberships = [],
  name,
} = Astro.props as {
  isTimeLimitedCollection: boolean
  memberships: Membership[]
  name: string
}
---

<div>
  <h1 class="mb-[62px] font-title text-2xl font-bold">Your Clubs Store</h1>

  <CreateCollections
    client:only="svelte"
    existingMemberships={[...memberships, ...memberships, ...memberships]}
    isTimeLimitedCollection={isTimeLimitedCollection}
    clubName={name}
  />
</div>
