---
import CreateCollections from '@components/Collections/CreateCollections.svelte'
import type { Membership } from '@plugins/memberships'

const { isTimeLimitedCollection = false, memberships = [] } = Astro.props as {
  isTimeLimitedCollection: boolean
  memberships: Membership[]
}
---

<div>
  <h1 class="mb-[62px] font-title text-2xl font-bold">Collections</h1>

  <CreateCollections
    client:only="svelte"
    memberships={[...memberships, ...memberships, ...memberships]}
    isTimeLimitedCollection={isTimeLimitedCollection}
  />
</div>
