---
import CreateCollections from '@components/Collections/CreateCollections.svelte'
import limitedNoOfItemsImg from './assets/limited-number-of-items.svg'
import timeLimitedCollectionImg from './assets/time-limited-collection.svg'

const { isTimeLimitedCollection = false } = Astro.props as {
  isTimeLimitedCollection: boolean
}
---

<div>
  <h1 class="mb-[62px] font-title text-2xl font-bold">Collections</h1>

  <CreateCollections client:only="svelte" />
</div>
