---
import AdminMembershipsAdditionForm from '@components/AdminMembershipsForm/AdminMembershipsAdditionForm.svelte'
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import memberships, { Membership } from '@plugins/memberships'
import SetupLayout from '@layouts/Setup.astro'

const { site, preset } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    memberships,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(
  ({ params }) => params.page === `memberships`
)

if (!path) {
  throw new Error('Path undefined: ', path)
}

const { props } = path

const presets = (props.presets ?? []) as Membership[]

const membership = presets.find(
  (_membership: Membership) => _membership.id === preset
)

if (!membership) {
  throw new Error(`Membership not found: ${preset}`)
}
---

<SetupLayout {config} {...props} setupStep="MEMBERSHIPS">
  <section class="grid gap-16">
    <h1 class="font-title text-lg font-bold">Memberships</h1>

    <AdminMembershipsAdditionForm
      client:load
      currentPluginIndex={props.clubs.currentPluginIndex}
      membership={membership}
      presets={props.presets as Membership[]}
      existingMemberships={props.memberships as Membership[]}
      rpcUrl={props.rpcUrl as string}
      base="/setup"
    />
  </section>
</SetupLayout>

<script>
  import { ClubsEvents } from '@devprotocol/clubs-core'

  document.body.addEventListener(ClubsEvents.FinishConfiguration, (ev) => {
    console.log('Save button clicked and updated the data remotely!!')
    window.location.href = '/setup/memberships?created'
  })
</script>
