---
import SetupDesign from '@components/SetupDesign/SetupDesign.svelte'
import { config as _config } from '@fixtures/config'
import { adminFactory } from '@devprotocol/clubs-core'
import defaultTheme from '@plugins/default-theme'
import SetupLayout from '@layouts/Setup.astro'
import NextButton from '@components/Setup/NextButton.astro'

const { site, page } = Astro.params

const { getStaticPaths, getCurrentConfig } = adminFactory({
  config: async () => await _config(site),
  plugins: {
    defaultTheme,
  },
})

const config = await getCurrentConfig()
const path = (await getStaticPaths()).find(
  ({ params }) => params.page === 'theme'
)

if (!path) {
  throw new Error('Path undefined: ', path)
}

const homeConfig = path?.props.options.find(
  (option: { key: string; value: string }) => option.key === 'homeConfig'
)
---

<SetupLayout {config} {...path.props} setupStep="DESIGN">
  <h2 class="mb-16 font-title text-2xl font-bold">Design</h2>

  <SetupDesign
    client:load
    homeConfig={homeConfig.value}
    currentPluginIndex={path?.props.clubs.currentPluginIndex}
  />

  <NextButton
    next={`/${site}/setup/memberships`}
    slot="aside:after-built-in-buttons"
  />
</SetupLayout>
