---
import '@styles/global.scss'
---

<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Clubs | Dev Protocol</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content={`TO ADD`} />
    <meta property="og:title" content={'Clubs | DevProtocol'} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={``} />
    <meta property="og:image" content={`${'TODO add url'}`} />
    <meta property="og:description" content={``} />
    <meta property="og:site_name" content={``} />
    <meta name="twitter:site" content={``} />
    <meta name="twitter:creator" content={``} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={''} />
    <meta name="twitter:description" content={``} />
    <meta name="twitter:image" content={``} />
  </head>

  <body class="font-body bg-black text-white min-h-screen">
    <main>
      <slot />
    </main>
  </body>
</html>
