---
import Markdown from '@components/Markdown/Markdown.astro'
import Memberships from '../components/Memberships/Memberships.astro'
import type { Membership } from '@plugins/memberships'
import { ClubsSlotName, type ClubsPropsPages } from '@devprotocol/clubs-core'

const { memberships, homeConfig, name, clubs } =
  Astro.props as ClubsPropsPages & {
    memberships?: Membership[]
    homeConfig: {
      hero: {
        image: string
      }
      description: string
      body: string
    }
    name: string
  }

const SlotsPageContentHomeBeforeContent = clubs.slots.filter(({ slot }) => {
  return slot === ClubsSlotName.PageContentHomeBeforeContent
})
---

<article class="grid gap-6">
  <section class="grid">
    {
      memberships ? (
        <>
          <h2 class="text-center text-2xl font-bold lg:text-4xl">
            {memberships.length > 1 ? 'Select a membership' : 'Become a member'}
          </h2>
          <Memberships memberships={memberships} name={name} />
        </>
      ) : (
        <div class="mx-auto my-8 w-full max-w-2xl rounded-lg bg-black/10 p-6 text-center">
          <h2 class="text-xl font-bold lg:text-4xl">
            Please wait for the launch.
          </h2>
        </div>
      )
    }
  </section>

  {
    // Display slots of PageContentHomeBeforeContent
    SlotsPageContentHomeBeforeContent.map((Slot) => (
      <Slot.component {...Slot.props} />
    ))
  }

  <h2 class="text-center text-xl font-bold lg:text-4xl">About {name}</h2>
  <Markdown
    body={homeConfig.body}
    class="mx-auto mt-4 w-full max-w-2xl lg:mt-6"
    vars={{ p: { fontSize: '1.25rem', lineHeight: '1.75rem' } }}
  />
</article>
