---
import Markdown from '@components/Markdown/Markdown.astro'
import Card from '../components/Card/Card.astro'
import Memberships from '../components/Memberships/Memberships.astro'
import type { Membership } from '@plugins/memberships'

const { memberships, homeConfig } = Astro.props as {
  memberships: Membership[]
  homeConfig: {
    hero: {
      image: string
    }
    description: string
    sections: {
      title: string
      body: {
        image: string
        description: string
      }
    }[]
  }
}
---

<section>
  <h2 class="text-center text-xl font-bold lg:text-2xl">
    {memberships.length > 1 ? 'Select a membership' : 'Became a member'}
  </h2>
  <Memberships memberships={memberships} />
</section>

<div class="mt-4 grid gap-11 lg:mt-6">
  {
    homeConfig.sections.map((section) => (
      <div>
        <h2 class="mb-5 text-2xl font-bold">{section.title}</h2>
        <Card>
          <div class="flex flex-col gap-6 lg:flex-row">
            <img
              src={section.body.image}
              class="aspect-[5/4] w-full rounded-lg lg:w-96	"
            />
            <div>
              <Markdown body={section.body.description} />
            </div>
          </div>
        </Card>
      </div>
    ))
  }
</div>
