---
import Markdown from '@components/Markdown/Markdown.astro'
import Memberships from '../components/Memberships/Memberships.astro'
import type { Membership } from '@plugins/memberships'

const { memberships, homeConfig, name } = Astro.props as {
  memberships?: Membership[]
  homeConfig: {
    hero: {
      image: string
    }
    description: string
    body: string
  }
  name: string
}
---

<article class="grid gap-6">
  <section class="grid">
    {
      memberships ? (
        <>
          <h2 class="text-center text-xl font-bold lg:text-4xl">
            {memberships.length > 1 ? 'Select a membership' : 'Become a member'}
          </h2>
          <Memberships memberships={memberships} />
        </>
      ) : (
        <h2 class="text-center text-xl font-bold lg:text-4xl">
          (Membership is not defined 😲)
        </h2>
      )
    }
  </section>

  <h2 class="text-center text-xl font-bold lg:text-4xl">About {name}</h2>
  <Markdown
    body={homeConfig.body}
    class="mt-4 lg:mt-6 mx-auto max-w-2xl w-full"
    vars={{ p: { fontSize: '1.25rem', lineHeight: '1.75rem' } }}
  />
</article>
