---
import Layout from '@layouts/LandingWithFooter.astro'
import ClubsPageContent from '@components/Clubs/ClubsPageContent.vue'
---

<Layout connectButton="hidden" theme="light" pageTitle="">
  <div class="@container/main h-full">
    <ClubsPageContent />
  </div>
</Layout>
