---
import Layout from '@layouts/LandingWithFooter.astro'
import ClubsPageContent from '@components/Clubs/ClubsPageContent.vue'
---

<Layout connectButton="show" theme="auto" pageTitle="">
  <div class="@container/main h-full">
    <ClubsPageContent />
  </div>
</Layout>
