---
import type { ClubsConfiguration } from '@devprotocol/clubs-core'

import FundsInfo from './Funds.svelte'

const { memberships, chainId } = Astro.props
---

<section class="flex flex-col">
  <h1 class="mb-16 font-title text-lg font-bold">Funds</h1>
  <FundsInfo client:only="svelte" memberships={memberships} chainId={chainId}/>
</section>
