---
import { ClubsConfiguration } from '@devprotocol/clubs-core'
import GeneralAdminForm from './GeneralAdminForm.svelte'

const config = Astro.props as ClubsConfiguration
---

<div class="flex flex-col">
  <h1 class="font-title text-lg font-bold mb-16">General</h1>

  <GeneralAdminForm client:only="svelte" config={config} />
</div>
