---
import CLBWrapper from '@components/Primitives/CLBWrapper.astro'

import Footer from '@components/Global/Footer.astro'
// import HSButton from '@components/Primitives/Hashi/HSButton.vue'
// import Sidebar from '@components/Sidebar/Sidebar.vue'
// import Step from '@components/Community/Step.vue'
---


<CLBWrapper>
  <p>hello world</p>
</CLBWrapper>
<Footer />

