---
import type { ClubsConfiguration } from '@devprotocol/clubs-core'
import GeneralAdminForm from './GeneralAdminForm.svelte'

const { config } = Astro.props as { config: ClubsConfiguration }
---

<div class="flex flex-col">
  <h1 class="mb-16 font-title text-lg font-bold">General</h1>

  <GeneralAdminForm client:only="svelte" config={config} />
</div>
