<section class="flex justify-center bg-dp-blue-grey-600 p-2">
  <p class="text-xs">
    Clubs is now public-beta version. There may be bugs, or features under
    update. If you notice anything,{' '}
    <a
      class="text-xs underline"
      href="https://discord.gg/TFBZGM9jf3"
      target="_blank"
      rel="noopener"
    >
      please give us feedback on Discord
    </a>
    .
  </p>
</section>
