<footer class="my-32 grid gap-32 justify-items-center">
  <section class="">
    <p class="font-bold text-2xl">Build with Clubs</p>
  </section>
  <section class="">
    <img src="/assets/devlogo.svg" alt="Dev Protocol" class="w-28" />
  </section>
</footer>
