---
import { ClubsLogo as Clubs } from '@devprotocol/clubs-core/layouts'
import { ConnectButton } from '@devprotocol/clubs-plugin-awesome-onboarding'

import '@devprotocol/clubs-core/styles'
import { passportClass } from '@fixtures/ui/passport'
import NavbarResponsive from './NavbarResponsive.vue'

type Props = {
  connectButton?: 'show' | 'hidden' | 'show-when-signedin'
  pageTitle?: string
}

const { connectButton = 'hidden', pageTitle } = Astro.props
---

<header>
  <span class:list={passportClass('heading-container')}>
    <slot name="before:heading" />
    <div class:list={passportClass('heading-content')}>
      <NavbarResponsive
        client:load
        {pageTitle}
        showConnectButton={connectButton === 'show'}
        showConnectButtonOnlySignedIn={connectButton === 'show-when-signedin'}
      >
        <Clubs slot="clubs-logo" class="h-5 lg:h-6 w-auto" />

        <span
          slot="before:connect-button"
          class="w-full lg:w-fit flex justify-center lg:justify-start"
        >
          <slot name="passport:profile:switcher" />
        </span>

        <slot
          name="header:before:mobile-open-bar"
          slot="before:mobile-open-bar"
        />

        <nav slot="connect-button" class="w-full lg:w-fit">
          <span class="flex justify-end gap-4 items-center">
            <slot
              name="header:before:sibling:connect-button"
              slot="before:sibling:connect-button"
            />
            <ConnectButton />
          </span>
        </nav>

        <slot name="right" slot="after:connect-button" />
      </NavbarResponsive>
    </div>
  </span>
</header>
