---
import { ClubsLogo as Clubs } from '@devprotocol/clubs-core/layouts'
import { ConnectButton } from '@devprotocol/clubs-plugin-awesome-onboarding'

import '@devprotocol/clubs-core/styles'
import { passportClass } from '@fixtures/ui/passport'
import NavbarResponsive from './NavbarResponsive.vue'

type Props = {
  connectButton?: 'show' | 'hidden'
  pageTitle?: string
}

const { connectButton = 'hidden', pageTitle } = Astro.props
---

<header>
  <span class:list={passportClass('heading-container')}>
    <div class:list={passportClass('heading-content')}>
      <NavbarResponsive
        client:load
        {pageTitle}
        showConnectButton={connectButton === 'show'}
      >
        <Clubs slot="clubs-logo" class="h-5 lg:h-6 w-auto" />

        <span slot="before:connect-button" class="w-full lg:w-fit">
          <p class="text-xs font-bold lg:hidden">Switch Passports</p>
          <slot name="passport:profile:switcher" />
        </span>

        <nav slot="connect-button" class="w-full lg:w-fit">
          <p class="text-xs font-bold lg:hidden">Sign In</p>
          <ConnectButton />
        </nav>

        <slot name="right" slot="after:connect-button" />
      </NavbarResponsive>
    </div>
  </span>
</header>
