---
import { ConnectButton } from '@devprotocol/clubs-plugin-awesome-onboarding'

type Props = {
  redirectTo?: null | string
}

const { redirectTo } = Astro.props
---

<span class="hidden">
  <ConnectButton />
</span>

{
  redirectTo && (
    <span class="hidden" id="_REDIRECT_TO_" data-redirect-to={redirectTo} />
  )
}

<script>
  import { CookieKey } from '@constants/cookie'
  import { connection } from '@devprotocol/clubs-core/connection'
  import { set, remove } from 'es-cookie'
  import { distinctUntilChanged, skip } from 'rxjs'
  import dayjs from 'dayjs'
  import duration from 'dayjs/plugin/duration'
  import { whenDefined } from '@devprotocol/util-ts'
  dayjs.extend(duration)

  const redirectTo = whenDefined(
    document.getElementById('_REDIRECT_TO_')?.dataset,
    (data) => data['redirectTo'],
  )

  connection()
    .account.pipe(skip(1), distinctUntilChanged())
    .subscribe((acc) => {
      console.log({ acc })
      if (acc) {
        set(CookieKey.User, acc, {
          expires: dayjs().add(dayjs.duration(10, 'years')).toDate(),
          path: '/',
        })
        if (redirectTo) {
          window.location.href = redirectTo.replace('{account}', acc)
        }
      } else {
        remove(CookieKey.User)
      }
    })
</script>
