---
import Layout from '@layouts/Default.astro'
import { tenants } from '@constants/tenants'

export function getStaticPaths() {
  return tenants.map(({ id }) => ({ params: { site: id } }))
}

const { site } = Astro.params
const data = tenants.find(({ id }) => id === site)
---

<Layout>
  <p>{data.name}</p>
</Layout>
